<div class="control-habitaciones-container">
  <table mat-table [dataSource]="habitaciones" class="mat-elevation-z8">


    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let habitacion">{{habitacion.id}}</td>
    </ng-container>
    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef> Tipo </th>
      <td mat-cell *matCellDef="let habitacion">{{habitacion.tipo}}</td>
    </ng-container>

    <ng-container matColumnDef="costoBase">
      <th mat-header-cell *matHeaderCellDef> Costo Base </th>
      <td mat-cell *matCellDef="let habitacion">{{habitacion.costoBase}}</td>
    </ng-container>
    <ng-container matColumnDef="impuestos">
      <th mat-header-cell *matHeaderCellDef> Impuestos </th>
      <td mat-cell *matCellDef="let habitacion">{{habitacion.impuestos}}</td>
    </ng-container>
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef> Estado Actual </th>
      <td mat-cell *matCellDef="let habitacion">{{habitacion.estado}}</td>
    </ng-container>
    <ng-container matColumnDef="hotelId">
      <th mat-header-cell *matHeaderCellDef> Hotel Id </th>
      <td mat-cell *matCellDef="let habitacion">{{habitacion.hotelId}}</td>
    </ng-container>
    <ng-container matColumnDef="nombrefoto">
      <th mat-header-cell *matHeaderCellDef> Foto </th>
      <td mat-cell *matCellDef="let habitacion">{{habitacion.nombrefoto}}</td>
    </ng-container>
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef> Estado App </th>
      <td mat-cell *matCellDef="let habitacion">{{habitacion.active}}</td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Creado </th>
      <td mat-cell *matCellDef="let habitacion">{{habitacion.createdAt}}</td>
    </ng-container>
    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef> Ult Actualizacion </th>
      <td mat-cell *matCellDef="let habitacion">{{habitacion.updatedAt}}</td>
    </ng-container>



    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let habitacion">
        <button mat-button (click)="actualizarHabitacion(habitacion)">Editar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id','tipo', 'costoBase','impuestos' ,'estado','hotelId','nombrefoto','active','createdAt','updatedAt','acciones']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['id','tipo', 'costoBase','impuestos' ,'estado','hotelId','nombrefoto', 'active','createdAt','updatedAt','acciones'];"></tr>
  </table>

  <button mat-raised-button color="primary" class="crear-habitacion"(click)="crearHabitacion()">Crear Habitacion</button>
</div>
