.h11{
  text-align: center;
  align-content: center;
  align-items: center;
  color: #000000;

  margin: 20px;
  height: 5vh;
  font-family:fantasy;
  background-color: cadetblue;
}

h1{
  padding: 10px;
  color: rgb(2, 5, 82);
  font-size: 50px;
  font-weight: 800;
}



.dashboard-container {
  margin: 20px;

  .hotel-image {
    background-size: cover;
  }

  .btn3{
    background-color: rgb(222, 222, 222);
  }

  mat-card {
    transition: box-shadow 0.3s;
    &:hover {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .spacer {
    flex: 1 1 auto;
  }
}
