.habitaciones-modal-container {
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 30px;
    color: #333;
  }

  .columna {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
  }

  .habitacion-image {
    width: 60px;
    height: 60px;
    background-size: cover;
    border-radius: 50%;
  }

  mat-card {
    margin-bottom: 15px;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  mat-card-header {
    .mat-card-title {
      font-weight: bold;
    }
    .mat-card-subtitle {
      color: #666;
    }
  }

  mat-card-actions {
    justify-content: center;
  }

  .fecha-container {
    display: flex;
    justify-content: space-between;

    mat-form-field {
      flex-grow: 1;
      margin-right: 10px; /* Ajusta el espacio entre los campos de fecha */

      &:last-child {
        margin-right: 0;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Espacio entre los campos */
    padding: 20px; /* Padding alrededor del formulario */
    margin-top: 20px; /* Espacio entre la lista y el formulario */
    background-color: #f4f4f4; /* Fondo claro para el formulario */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    justify-content: space-between;

    mat-form-field {
      width: 100%; /* Ancho completo para los campos */
    }

    button {
      width: 100%;
      max-width: 200px;
      margin-top: 20px; /* Espacio encima del botón */
    }
  }
}
